// Main colors
$bg: linear-gradient(116.82deg, #ffeecf 0%, #f0ffcf 100%);
$primary: #f52f57;
$secondary: #253c78;
$tertiary: #82ff9e;

// Typography
$font: "Heebo";
$font-fancy: "HeadlandOne";
$font-color-primary: #181818;
$font-color-focus: #000000;

$font-sizes: 4rem, 3rem, 2.25rem, 1.5rem;
